<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParfumShop.az - онлайн заказ парфюмерии, мужские женские аро</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

     <header>
        <div class="container">
            <div class="header-all">
                <div class="lang">
                    <img src="assets/images/aze.svg" alt="country image for translate">
                    <span>AZ</span>
                    <img src="assets/images/arrow_down.svg" alt="">
                </div>
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.svg" alt="parfumshop logo">
                    </a>
                </div>
                <div class="header-actions">
                    <ul>
                        <li>
                            <img src="assets/images/search.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cart.svg" alt="">
                        </li>
                        <li>
                            <a href="/wishlist.html"><img src="assets/images/wishlist.svg" alt="" /></a>
                        </li>
                        <li class="cabinet-link">
                            <a href="cabinet.html">
                                <img src="assets/images/user.svg" alt="">
                                <span>Rövşən Məmmədov</span>
                            </a>
                        </li>
                        <li>
                            <img src="assets/images/menu.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </header>
    <!-- Header section -->

    <main>
        <div class="container">
            <div class="service-page">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="index.html">
                                <img src="assets/images/home.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <img src="assets/images/arrow-right.svg" alt="">
                        </li>
                        <li>
                            <a href="service.html">Xidmətlər və şərtlər</a>
                        </li>
                    </ul>
                </div>
                <div class="service-page__list">
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/hisse-hisse.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Daxili kredit</h1>
                            <p>Saytımızda daxili hissə-hissə xidməti mövcuddur. </p>
                            <a href="">Qaydalarla ətraflı tanış olun <img src="assets/images/arrow-right.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/bonus-money.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Çatdırılma</h1>
                            <p>Bakı şəhər daxili çatdırılma ödənişsizdir.</p>
                            <a href="">Digər rayonlara çatdırılma <img src="assets/images/arrow-right.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/epay.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Expresspay</h1>
                            <p>Daxili kredit üçün aylıq ödənişlər Expresspay üzərindən keçərlidir.</p>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/million.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Milliön</h1>
                            <p>Daxili kredit üçün aylıq ödənişlər Milliön
                                üzərindən keçərlidir.</p>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/million.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Milliön</h1>
                            <p>Daxili kredit üçün aylıq ödənişlər Milliön
                                üzərindən keçərlidir.</p>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/million.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Milliön</h1>
                            <p>Daxili kredit üçün aylıq ödənişlər Milliön
                                üzərindən keçərlidir.</p>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/million.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Milliön</h1>
                            <p>Daxili kredit üçün aylıq ödənişlər Milliön
                                üzərindən keçərlidir.</p>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/million.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Milliön</h1>
                            <p>Daxili kredit üçün aylıq ödənişlər Milliön
                                üzərindən keçərlidir.</p>
                        </div>
                    </div>
                    <div class="service-page__list__item">
                        <div class="service-page__list__item__img">
                            <img src="assets/images/million.svg" alt="">
                        </div>
                        <div class="service-page__list__item__title">
                            <h1>Milliön</h1>
                            <p>Daxili kredit üçün aylıq ödənişlər Milliön
                                üzərindən keçərlidir.</p>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </main>


    <!-- Footer section -->
     <footer>
        <div class="container">
            <div class="footer-all">
                <div class="left">
                    <a href="">
                        <img src="assets/images/logo.svg" alt="">
                    </a>
                    <p>ParfumShop.az internet mağazası</p>
                    <p>25 ilin təcrübəsi ilə xidmətinizdə olmaqdan qürur duyuruq!</p>
                    <p>Həyatınızın ən ətirli səhifəsi...</p>
                </div>
                <div class="links">
                    <ul>
                        <li>
                            <span>Kateqoriyalar</span>
                        </li>
                        <li>
                            <span>Brendlər</span>
                        </li>
                        <li>
                            <span>Qadın ətirləri</span>
                        </li>
                        <li>
                            <span>Kişi ətirləri</span>
                        </li>
                        <li>
                            <span>Unisex</span>
                        </li>
                        <li>
                            <span>Hamam dəstləri</span>
                        </li>
                        <li>
                            <span>Testerlər</span>
                        </li>
                        <li>
                            <span>Hədiyyə kartı</span>
                        </li>
                        <li>
                            <span>Daxili kredit</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Xidmət saatlarımız</span>
                        </li>
                        <li>
                            <span>9:00 - 19:00. B.e. - Ş.</span>
                            <span>Bazar istirahət günüdür.</span>
                        </li>
                       <li>
                        <span>
                                Sayt üzərindən edilən sifarişlər bütün 
                                sutka ərzində növbəyə alınır və iş saatı 
                                ərzində baxılır.
                        </span>
                       </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Sualınız yaranıb?</span>
                        </li>
                        <li>
                            <span>(055) 55 10 700</span>
                            <span>(012) 310 22 55</span>
                            <span>info@parfumshop.az</span>
                        </li>
                       <li class="footer-social">
                            <a href="">
                                <img src="assets/images/fb.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/instagram.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/telegram.svg" alt="">
                            </a>
                       </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <img src="assets/images/cards/visa.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/master.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/m10.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/birbank.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </footer>
    <!-- Footer section -->


    <script src="assets/js/accordion.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>