<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParfumShop.az - онлайн заказ парфюмерии, мужские женские аро</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="header-all">
                <div class="lang">
                    <img src="assets/images/aze.svg" alt="country image for translate">
                    <span>AZ</span>
                    <img src="assets/images/arrow_down.svg" alt="">
                </div>
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.svg" alt="parfumshop logo">
                    </a>
                </div>
                <div class="header-actions">
                    <ul>
                        <li>
                            <img src="assets/images/search.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cart.svg" alt="">
                        </li>
                        <li>
                            <a href="/wishlist.html"><img src="assets/images/wishlist.svg" alt="" /></a>
                        </li>
                        <li class="cabinet-link">
                            <a href="cabinet.html">
                                <img src="assets/images/user.svg" alt="">
                                <span>Rövşən Məmmədov</span>
                            </a>
                        </li>
                        <li>
                            <img src="assets/images/menu.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header section -->

    <main>
        <div class="container">
            <div class="cabinet">
                <div class="cabinet__aside">
                    <div class="cabinet__aside__top">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="assets/images/arrow-left.svg" alt="">
                                    <span>Geri qayıt</span>
                                </a>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="index.html">
                                            <img src="assets/images/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <img src="assets/images/arrow-right.svg" alt="">
                                    </li>
                                    <li>
                                        <a href="cabinet.html">Şəxsi kabinet</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="cabinet__aside__nav">
                        <h1>Salam, Rövşən Məmmədov</h1>
                        <ul>
                            <li>
                                <a href="cabinet.html">Hesab məlumatları</a>
                            </li>
                            <li>
                                <a href="personal-info.html">Şəxsi məlumatlar</a>
                            </li>
                            <li>
                                <a href="history.html">Sifarişlərimin tarixçəsi</a>
                            </li>
                            <li>
                                <a href="wishlist.html">Bəyəndiyim ətirlər <span>24</span></a>
                            </li>
                            <li>
                                <a href="comments.html" style="border-bottom: 1px solid #000;color: #000">Rəylərim
                                    <span>7</span></a>
                            </li>
                        </ul>
                        <a href="">
                            <img src="assets/images/signin.svg" alt="">
                            <span>Hesabdan çıx</span>
                        </a>
                    </div>
                </div>
                <div class="cabinet__comments">
                    <ul class="cabinet__comments__list">
                        <li>
                            <span>Bu gün, 3 avqust 2021</span>
                            <a href="product-details.html">
                                <ul>
                                    <li>
                                        <img src="assets/images/products/parfum.png" alt="">
                                    </li>
                                    <li>
                                        <span>Narciso Poudree</span>
                                        <span>Narciso Rodriguez</span>
                                        <div class="comment-rating">
                                            <img src="assets/images/star-filled.svg" alt="">
                                            <img src="assets/images/star-filled.svg" alt="">
                                            <img src="assets/images/star-filled.svg" alt="">
                                            <img src="assets/images/star-filled.svg" alt="">
                                            <img src="assets/images/star-filled.svg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li>
                            <span>Bu gün, 3 avqust 2021</span>
                            <a href="product-details.html">
                                <ul>
                                    <li>
                                        <img src="assets/images/products/parfum.png" alt="">
                                    </li>
                                    <li>
                                        <span>Narciso Poudree</span>
                                        <span>Narciso Rodriguez</span>
                                        <div class="comment-rating">
                                            <img src="assets/images/star-filled.svg" alt="">
                                            <img src="assets/images/star-filled.svg" alt="">
                                            <img src="assets/images/star-filled.svg" alt="">
                                            <img src="assets/images/star-outlined.svg" alt="">
                                            <img src="assets/images/star-outlined.svg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--CABINET COMMENTS MOBILE-->
                <div class="cabinet-comments-mobile">
                    <div class="comment-mobile">
                        <div class="comment-mobile-header">
                            <img src="/assets/images/products/parfum.png" alt="Perfume" class="product-image" />
                            <div class="product-info">
                                <h3 class="product-title">Narciso Poudree</h3>
                                <p class="product-subtitle">Narciso Rodriguez</p>
                                <div class="rating">
                                    <img src="/assets/images/star-filled.svg" alt="">
                                    <img src="/assets/images/star-filled.svg" alt="">
                                    <img src="/assets/images/star-filled.svg" alt="">
                                    <img src="/assets/images/star-outlined.svg" alt="">
                                    <img src="/assets/images/star-outlined.svg" alt="">
                                </div>

                            </div>

                        </div>
                        <hr>
                        <div class="comment-mobile-body">
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="comment-mobile">
                        <div class="comment-mobile-header">
                            <img src="/assets/images/products/parfum.png" alt="Perfume" class="product-image" />
                            <div class="product-info">
                                <h3 class="product-title">Narciso Poudree</h3>
                                <p class="product-subtitle">Narciso Rodriguez</p>
                                <div class="rating">
                                    <img src="/assets/images/star-filled.svg" alt="">
                                    <img src="/assets/images/star-filled.svg" alt="">
                                    <img src="/assets/images/star-filled.svg" alt="">
                                    <img src="/assets/images/star-outlined.svg" alt="">
                                    <img src="/assets/images/star-outlined.svg" alt="">
                                </div>

                            </div>

                        </div>
                        <hr>
                        <div class="comment-mobile-body">
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                            </p>
                        </div>
                    </div>
                </div>
                <!--CABINET COMMENTS MOBILE-->


            </div>
        </div>

    </main>


    <!-- Footer section -->
    <footer>
        <div class="container">
            <div class="footer-all">
                <div class="left">
                    <a href="">
                        <img src="assets/images/logo.svg" alt="">
                    </a>
                    <p>ParfumShop.az internet mağazası</p>
                    <p>25 ilin təcrübəsi ilə xidmətinizdə olmaqdan qürur duyuruq!</p>
                    <p>Həyatınızın ən ətirli səhifəsi...</p>
                </div>
                <div class="links">
                    <ul>
                        <li>
                            <span>Kateqoriyalar</span>
                        </li>
                        <li>
                            <span>Brendlər</span>
                        </li>
                        <li>
                            <span>Qadın ətirləri</span>
                        </li>
                        <li>
                            <span>Kişi ətirləri</span>
                        </li>
                        <li>
                            <span>Unisex</span>
                        </li>
                        <li>
                            <span>Hamam dəstləri</span>
                        </li>
                        <li>
                            <span>Testerlər</span>
                        </li>
                        <li>
                            <span>Hədiyyə kartı</span>
                        </li>
                        <li>
                            <span>Daxili kredit</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Xidmət saatlarımız</span>
                        </li>
                        <li>
                            <span>9:00 - 19:00. B.e. - Ş.</span>
                            <span>Bazar istirahət günüdür.</span>
                        </li>
                        <li>
                            <span>
                                Sayt üzərindən edilən sifarişlər bütün
                                sutka ərzində növbəyə alınır və iş saatı
                                ərzində baxılır.
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Sualınız yaranıb?</span>
                        </li>
                        <li>
                            <span>(055) 55 10 700</span>
                            <span>(012) 310 22 55</span>
                            <span>info@parfumshop.az</span>
                        </li>
                        <li class="footer-social">
                            <a href="">
                                <img src="assets/images/fb.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/instagram.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/telegram.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <img src="assets/images/cards/visa.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/master.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/m10.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/birbank.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section -->


    <script src="assets/js/main.js"></script>
</body>

</html>