<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParfumShop.az - онлайн заказ парфюмерии, мужские женские аро</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <header class="history-header">
        <div class="container">
            <div class="header-all">
                <div class="lang">
                    <img src="assets/images/aze.svg" alt="country image for translate">
                    <span>AZ</span>
                    <img src="assets/images/arrow_down.svg" alt="">
                </div>
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.svg" alt="parfumshop logo">
                    </a>
                </div>
                <div class="header-actions">
                    <ul>
                        <li>
                            <img src="assets/images/search.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cart.svg" alt="">
                        </li>
                        <li>
                            <a href="/wishlist.html"><img src="assets/images/wishlist.svg" alt="" /></a>
                        </li>
                        <li class="cabinet-link">
                            <a href="cabinet.html">
                                <img src="assets/images/user.svg" alt="">
                                <span>Rövşən Məmmədov</span>
                            </a>
                        </li>
                        <li>
                            <img src="assets/images/menu.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header section -->

    <main>
        <div class="container">
            <div class="cabinet">
                <div class="cabinet__aside">
                    <div class="cabinet__aside__top">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="assets/images/arrow-left.svg" alt="">
                                    <span>Geri qayıt</span>
                                </a>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="index.html">
                                            <img src="assets/images/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <img src="assets/images/arrow-right.svg" alt="">
                                    </li>
                                    <li>
                                        <a href="cabinet.html">Şəxsi kabinet</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="cabinet__aside__nav">
                        <h1>Salam, Rövşən Məmmədov</h1>
                        <ul>
                            <li>
                                <a href="cabinet.html">Hesab məlumatları</a>
                            </li>
                            <li>
                                <a href="personal-info.html">Şəxsi məlumatlar</a>
                            </li>
                            <li>
                                <a href="history.html" style="border-bottom: 1px solid #000;color: #000">Sifarişlərimin
                                    tarixçəsi</a>
                            </li>
                            <li>
                                <a href="wishlist.html">Bəyəndiyim ətirlər <span>24</span></a>
                            </li>
                            <li>
                                <a href="comments.html">Rəylərim <span>7</span></a>
                            </li>
                        </ul>
                        <a href="">
                            <img src="assets/images/signin.svg" alt="">
                            <span>Hesabdan çıx</span>
                        </a>
                    </div>
                </div>
                <div class="cabinet-orders">
                    <div class="cabinet-orders-list">
                        <span class="cabinet-order-date">
                            Bu gün, 3 avqust 2021
                        </span>
                        <div class="cabinet-order">
                            <div class="first">
                                <img src="/assets/images/products/parfum.png" alt="">
                                <span>
                                    <p>Narciso Poudree</p>
                                    <span>Narciso Rodriguez</span>
                                </span>
                            </div>
                            <hr width="1" size="50" style="0 auto" />
                            <div>
                                <img src="/assets/images/master.png" class="mastercard" alt="">
                                MasterCard5566
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div class="ready-state">
                                <div class="circle"></div>
                                Tamamlanib
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div class="fourth">
                                Şərhsiz
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div>-79</div>
                        </div>


                        <span class="cabinet-order-date">
                            Bu gün, 3 avqust 2021
                        </span>
                        <div class="cabinet-order">
                            <div class="first">
                                <img src="/assets/images/products/parfum.png" alt="">
                                <span>
                                    <p>Narciso Poudree</p>
                                    <span>Narciso Rodriguez</span>
                                </span>
                            </div>
                            <hr width="1" size="50" style="0 auto" />
                            <div>
                                <img src="/assets/images/master.png" class="mastercard" alt="">
                                MasterCard5566
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div class="ready-state">
                                <div class="circle"></div>
                                Tamamlanib
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div class="fourth">
                                Şərhsiz
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div>-79</div>
                        </div>
                        <div class="cabinet-order">
                            <div class="first">
                                <img src="/assets/images/products/parfum.png" alt="">
                                <span>
                                    <p>Narciso Poudree</p>
                                    <span>Narciso Rodriguez</span>
                                </span>
                            </div>
                            <hr width="1" size="50" style="0 auto" />
                            <div>
                                <img src="/assets/images/master.png" class="mastercard" alt="">
                                MasterCard5566
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div class="ready-state">
                                <div class="circle"></div>
                                Tamamlanib
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div class="fourth">
                                Şərhsiz
                            </div>
                            <hr width="1" size="50" style="0 auto" />

                            <div>-79</div>
                        </div>
                    </div>
                    <div class="main-products__pagination">
                        <ul>
                            <li class="active-page">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>...</li>
                            <li>
                                <img src="assets/images/arrow-right.svg" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>


                <!--CABINET  orders mobile-->
                <div class="cabinet-orders-mobile">
                    <div class="close-icon">
                        <img src="/assets/images/close.svg" alt="">
                    </div>
                    <div class="cabinet-orders-heading">
                        <img src="/assets/images/orders.svg" alt="">
                        <span>Sifarişlərimin tarixçəsi</span>
                    </div>
                    <div class="cabinet-orders-statuses">
                        <div class="ready">
                            <span class="circle green"></span>
                            <span class="ready-text">Tamamlanıb</span>
                        </div>
                        <div class="credit">
                            <span class="circle orange"></span>
                            <span class="credit-text">Kredit ödənişi</span>
                        </div>
                        <div class="canceled">
                            <span class="circle red"></span>
                            <span class="canceled-order-text">Sifariş ləğv edilib</span>
                        </div>
                    </div>


                    <div class="history-list">
                        <div class="history-list-item">
                            <span class="history-item-date">Bu gün, 3 avqust 2021</span>
                            <div class="upper">
                                <img src="/assets/images/products/parfum.png" alt="">
                                <span class="details">
                                    <p>My Burberry</p>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                </span>
                                <div>
                                    <div class="circle"></div>
                                    <div class="discount">-79</div>
                                    <span>
                                        <img src="/assets/images/master.png" alt="">
                                        5500
                                    </span>
                                </div>
                            </div>
                            <div class="bottom">
                                Ad Gunu Hediyyesi, Aysel
                            </div>

                        </div>
                        <div class="history-list-item">
                            <span class="history-item-date">Bu gün, 3 avqust 2021</span>
                            <div class="upper">
                                <img src="/assets/images/products/parfum.png" alt="">
                                <span class="details">
                                    <p>My Burberry</p>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                </span>
                                <div>
                                    <div class="circle"></div>
                                    <div class="discount">-79</div>
                                    <span>
                                        <img src="/assets/images/master.png" alt="">
                                        5500
                                    </span>
                                </div>
                            </div>
                            <div class="bottom">
                                Ad Gunu Hediyyesi, Aysel
                            </div>

                        </div>
                        <div class="history-list-item">
                            <span class="history-item-date">Bu gün, 3 avqust 2021</span>
                            <div class="upper">
                                <img src="/assets/images/products/parfum.png" alt="">
                                <span class="details">
                                    <p>My Burberry</p>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                </span>
                                <div>
                                    <div class="circle"></div>
                                    <div class="discount">-79</div>
                                    <span>
                                        <img src="/assets/images/master.png" alt="">
                                        5500
                                    </span>
                                </div>
                            </div>
                            <div class="bottom">
                                Ad Gunu Hediyyesi, Aysel
                            </div>

                        </div>
                    </div>


                    <div class="main-products__pagination">
                        <ul>
                            <li class="active-page">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>...</li>
                            <li>
                                <img src="assets/images/arrow-right.svg" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <!--CABINET orders mobile-->
            </div>
        </div>
    </main>


    <!-- Footer section -->
    <footer>
        <div class="container">
            <div class="footer-all">
                <div class="left">
                    <a href="">
                        <img src="assets/images/logo.svg" alt="">
                    </a>
                    <p>ParfumShop.az internet mağazası</p>
                    <p>25 ilin təcrübəsi ilə xidmətinizdə olmaqdan qürur duyuruq!</p>
                    <p>Həyatınızın ən ətirli səhifəsi...</p>
                </div>
                <div class="links">
                    <ul>
                        <li>
                            <span>Kateqoriyalar</span>
                        </li>
                        <li>
                            <span>Brendlər</span>
                        </li>
                        <li>
                            <span>Qadın ətirləri</span>
                        </li>
                        <li>
                            <span>Kişi ətirləri</span>
                        </li>
                        <li>
                            <span>Unisex</span>
                        </li>
                        <li>
                            <span>Hamam dəstləri</span>
                        </li>
                        <li>
                            <span>Testerlər</span>
                        </li>
                        <li>
                            <span>Hədiyyə kartı</span>
                        </li>
                        <li>
                            <span>Daxili kredit</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Xidmət saatlarımız</span>
                        </li>
                        <li>
                            <span>9:00 - 19:00. B.e. - Ş.</span>
                            <span>Bazar istirahət günüdür.</span>
                        </li>
                        <li>
                            <span>
                                Sayt üzərindən edilən sifarişlər bütün
                                sutka ərzində növbəyə alınır və iş saatı
                                ərzində baxılır.
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Sualınız yaranıb?</span>
                        </li>
                        <li>
                            <span>(055) 55 10 700</span>
                            <span>(012) 310 22 55</span>
                            <span>info@parfumshop.az</span>
                        </li>
                        <li class="footer-social">
                            <a href="">
                                <img src="assets/images/fb.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/instagram.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/telegram.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <img src="assets/images/cards/visa.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/master.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/m10.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/birbank.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section -->


    <script src="assets/js/main.js"></script>
</body>

</html>