<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParfumShop.az - онлайн заказ парфюмерии, мужские женские аро</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="header-all">
                <div class="lang">
                    <img src="assets/images/aze.svg" alt="country image for translate">
                    <span>AZ</span>
                    <img src="assets/images/arrow_down.svg" alt="">
                </div>
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.svg" alt="parfumshop logo">
                    </a>
                </div>
                <div class="header-actions">
                    <ul>
                        <li>
                            <img src="assets/images/search.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cart.svg" alt="">
                        </li>
                        <li>
                            <a href="/wishlist.html"><img src="assets/images/wishlist.svg" alt="" /></a>
                        </li>
                        <li class="cabinet-link">
                            <a href="cabinet.html">
                                <img src="assets/images/user.svg" alt="">
                                <span>Rövşən Məmmədov</span>
                            </a>
                        </li>
                        <li>
                            <img src="assets/images/menu.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header section -->

    <main>
        <div class="container">
            <div class="cabinet">
                <div class="cabinet__aside">
                    <div class="cabinet__aside__top">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="assets/images/arrow-left.svg" alt="">
                                    <span>Geri qayıt</span>
                                </a>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="index.html">
                                            <img src="assets/images/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <img src="assets/images/arrow-right.svg" alt="">
                                    </li>
                                    <li>
                                        <a href="cabinet.html">Şəxsi kabinet</a>
                                    </li>
                                    <li>
                                        <img src="assets/images/arrow-right.svg" alt="">
                                    </li>
                                    <li>
                                        <a href="favorites.html" style="font-weight: 600; color: #000;">Bəyəndiyim
                                            ətirlər</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="cabinet__aside__nav">
                        <h1>Salam, Rövşən Məmmədov</h1>
                        <ul>
                            <li>
                                <a href="cabinet.html">Hesab məlumatları</a>
                            </li>
                            <li>
                                <a href="personal-info.html">Şəxsi məlumatlar</a>
                            </li>
                            <li>
                                <a href="history.html">Sifarişlərimin tarixçəsi</a>
                            </li>
                            <li>
                                <a href="wishlist.html" style="border-bottom: 1px solid #000;color: #000">Bəyəndiyim
                                    ətirlər <span>24</span></a>
                            </li>
                            <li>
                                <a href="comments.html">Rəylərim <span>7</span></a>
                            </li>
                        </ul>
                        <a href="">
                            <img src="assets/images/signin.svg" alt="">
                            <span>Hesabdan çıx</span>
                        </a>
                    </div>
                </div>
                <div class="cabinet__wishlist">
                    <div class="cabinet__wishlist__list">
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item__image">
                                <div class="product-item__image__actions">
                                    <img src="assets/images/share.svg" alt="">
                                    <div class="heart-icon active"></div>
                                </div>
                                <a href="product-details.html">
                                    <img class="product-main-image" src="assets/images/products/parfum.png"
                                        alt="product image">
                                </a>
                            </div>
                            <div class="product-item__info">
                                <div class="title">
                                    <h1>My Burberry</h1>
                                    <span>Burberry</span>
                                    <span>Kişi üçün | Eau De Parfum</span>
                                    <ul class="price-ul">
                                        <li class="active-li">
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                        <li>
                                            <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cabinet__wishlist__empty">
                        <img src="/assets/images/heart.svg" alt="">

                        <h3>Ətirlər Siyahınız Boşdur</h3>

                        <p>Sevimli ətirlərinizi buraya əlavə edin ki, onlar həmişə yanınızda olsun!</p>
                        <button>Ətir əlavə et</button>
                    </div>
                </div>

                <!--CABINET-WISHLIST-FOR-MOBILE-->
                <div class="cabinet-wishlist-mobile">
                    <div class="cabinet-wishlist">
                        <div class="cabinet-wishlist-mobile-list">
                            <div class="product-item">
                                <div class="product-item__image">
                                    <div class="product-item__image__actions">
                                        <img src="assets/images/share.svg" alt="">
                                        <div class="heart-icon active"></div>
                                    </div>
                                    <a href="product-details.html">
                                        <img class="product-main-image" src="assets/images/products/parfum.png"
                                            alt="product image">
                                    </a>
                                </div>
                                <div class="product-item__info">
                                    <div class="title">
                                        <h1>Flowerbomb</h1>
                                        <span>Gucci Kişi üçün</span>
                                        <span>Qadın üçün | Eau De Parfum</span>
                                        <ul class="price-ul">
                                            <li class="active-li">
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="actions">
                                        <div class="size-dropdown">
                                            <select id="size-select">
                                                <option value="50ml" selected><span>50 ml</span> 96.00 &#8380; </option>
                                            </select>
                                        </div>
                                        <button>Səbətə əlavə edin</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-item__image">
                                    <div class="product-item__image__actions">
                                        <img src="assets/images/share.svg" alt="">
                                        <div class="heart-icon active"></div>
                                    </div>
                                    <a href="product-details.html">
                                        <img class="product-main-image" src="assets/images/products/parfum.png"
                                            alt="product image">
                                    </a>
                                </div>
                                <div class="product-item__info">
                                    <div class="title">
                                        <h1>Flowerbomb</h1>
                                        <span>Gucci Kişi üçün</span>
                                        <span>Qadın üçün | Eau De Parfum</span>
                                        <ul class="price-ul">
                                            <li class="active-li">
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="actions">
                                        <div class="size-dropdown">
                                            <select id="size-select">
                                                <option value="50ml" selected><span>50 ml</span> 96.00 &#8380; </option>
                                            </select>
                                        </div>
                                        <button>Səbətə əlavə edin</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-item__image">
                                    <div class="product-item__image__actions">
                                        <img src="assets/images/share.svg" alt="">
                                        <div class="heart-icon active"></div>
                                    </div>
                                    <a href="product-details.html">
                                        <img class="product-main-image" src="assets/images/products/parfum.png"
                                            alt="product image">
                                    </a>
                                </div>
                                <div class="product-item__info">
                                    <div class="title">
                                        <h1>Flowerbomb</h1>
                                        <span>Gucci Kişi üçün</span>
                                        <span>Qadın üçün | Eau De Parfum</span>
                                        <ul class="price-ul">
                                            <li class="active-li">
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="actions">
                                        <div class="size-dropdown">
                                            <select id="size-select">
                                                <option value="50ml" selected><span>50 ml</span> 96.00 &#8380; </option>
                                            </select>
                                        </div>
                                        <button>Səbətə əlavə edin</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-item__image">
                                    <div class="product-item__image__actions">
                                        <img src="assets/images/share.svg" alt="">
                                        <div class="heart-icon active"></div>
                                    </div>
                                    <a href="product-details.html">
                                        <img class="product-main-image" src="assets/images/products/parfum.png"
                                            alt="product image">
                                    </a>
                                </div>
                                <div class="product-item__info">
                                    <div class="title">
                                        <h1>Flowerbomb</h1>
                                        <span>Gucci Kişi üçün</span>
                                        <span>Qadın üçün | Eau De Parfum</span>
                                        <ul class="price-ul">
                                            <li class="active-li">
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                            <li>
                                                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="actions">
                                        <div class="size-dropdown">
                                            <select id="size-select">
                                                <option value="50ml" selected><span>50 ml</span> 96.00 &#8380; </option>
                                            </select>
                                        </div>
                                        <button>Səbətə əlavə edin</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CABINET-WISHLIST-FOR-MOBILE-->

                <!--CABINET-EMPTY-WISHLIST-FOR-MOBILE-->
                <div class="cabinet-wishlist-no-data-mobile">
                    <img src="/assets/images/heart.svg" alt="">

                    <h3>Ətirlər Siyahınız Boşdur</h3>

                    <p>Sevimli ətirlərinizi buraya əlavə edin ki, onlar həmişə yanınızda olsun!</p>
                    <button>Ətir əlavə et</button>
                </div>
                <!--CABINET-EMPTY-WISHLIST-FOR-MOBILE-->
            </div>
        </div>
    </main>


    <!-- Footer section -->
    <footer class="footer-wishlist">
        <div class="container">
            <div class="footer-all">
                <div class="left">
                    <a href="">
                        <img src="assets/images/logo.svg" alt="">
                    </a>
                    <p>ParfumShop.az internet mağazası</p>
                    <p>25 ilin təcrübəsi ilə xidmətinizdə olmaqdan qürur duyuruq!</p>
                    <p>Həyatınızın ən ətirli səhifəsi...</p>
                </div>
                <div class="links">
                    <ul>
                        <li>
                            <span>Kateqoriyalar</span>
                        </li>
                        <li>
                            <span>Brendlər</span>
                        </li>
                        <li>
                            <span>Qadın ətirləri</span>
                        </li>
                        <li>
                            <span>Kişi ətirləri</span>
                        </li>
                        <li>
                            <span>Unisex</span>
                        </li>
                        <li>
                            <span>Hamam dəstləri</span>
                        </li>
                        <li>
                            <span>Testerlər</span>
                        </li>
                        <li>
                            <span>Hədiyyə kartı</span>
                        </li>
                        <li>
                            <span>Daxili kredit</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Xidmət saatlarımız</span>
                        </li>
                        <li>
                            <span>9:00 - 19:00. B.e. - Ş.</span>
                            <span>Bazar istirahət günüdür.</span>
                        </li>
                        <li>
                            <span>
                                Sayt üzərindən edilən sifarişlər bütün
                                sutka ərzində növbəyə alınır və iş saatı
                                ərzində baxılır.
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Sualınız yaranıb?</span>
                        </li>
                        <li>
                            <span>(055) 55 10 700</span>
                            <span>(012) 310 22 55</span>
                            <span>info@parfumshop.az</span>
                        </li>
                        <li class="footer-social">
                            <a href="">
                                <img src="assets/images/fb.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/instagram.svg" alt="">
                            </a>
                            <a href="">
                                <img src="assets/images/telegram.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <img src="assets/images/cards/visa.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/master.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/m10.png" alt="">
                        </li>
                        <li>
                            <img src="assets/images/cards/birbank.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section -->

    <!--FOOTER-FOR-MOBILE-->
    <footer class="footer-for-mobile-wishlist">
        <div class="footer-wrapper">
            <div class="column1">
                <div>
                    <img src="/assets/images/footer-icon.svg" alt="">
                    <div class="categories">
                        <h3>Kateqoriyalar</h3>
                        <ul>
                            <li>Brendlər</li>
                            <li>Qadın ətirləri</li>
                            <li> Kişi ətirləri</li>
                            <li>Unisex</li>
                            <li>Hamam dəstləri</li>
                            <li>Testerlər</li>
                            <li>Hədiyyə kartı</li>
                            <li>Daxili kredit</li>
                        </ul>
                    </div>
                </div>
                <div class="banking-icons">
                    <span>
                        <img src="/assets/images/logos_visa.svg" class="visa" alt="">
                        <img src="/assets/images/master.svg" class="master" alt="">
                    </span>
                    <span><img src="/assets/images/m10.svg" class="m10" alt="">
                        <img src="/assets/images/bribank.svg" class="birbank" alt=""></span>
                </div>
            </div>
            <div class="column2">
                <h3>Xidmət saatlarımız</h3>

                <p>9:00 - 19:00. B.e. - Ş.
                    Bazar istirahət günüdür.

                    Sayt üzərindən edilən sifarişlər bütün sutka ərzində növbəyə alınır və iş saatı ərzində baxılır.</p>
                <div class="question">
                    <ul>
                        <li>Sualınız yaranıb?</li>
                        <li>(055) 55 10 70</li>
                        <li>(012) 310 22 55</li>
                        <li>info@parfumshop.az</li>
                    </ul>
                </div>

                <div class="icons-wrapper">
                    <img src="/assets/images/fb.svg" alt="">
                    <img src="/assets/images/instagram.svg" alt="">
                    <img src="/assets/images/telegram.svg" alt="">
                    <img src="/assets/images/whatsapp.svg" alt="">
                </div>

                <p>Bütün hüquqlar qorunur.</p>

            </div>
        </div>
    </footer>
    <!--FOOTER-FOR-MOBILE-->


    <script src="assets/js/main.js"></script>
</body>

</html>