@mixin productItem($width) {
  width: $width;
  width: $width;
}

// Variables
$primary-background: #f9f9f9;
$border-color: #ccc;
$text-color: #333;
$hover-background: #f0f0f0;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
  transition: $property $duration $timing;
}

#mobile-layout {
  display: none;
}

.details-page {
  margin-top: 32px;

  .product-title {
    height: 95px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    h1 {
      font-weight: 400;
      margin-bottom: 7px;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      color: #c2bdbd;
      margin-top: 4px;
    }
  }

  .details-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;

    .product-image {
      width: 46%;
      display: flex;
      justify-content: space-between;
      gap: 4.5%;

      .left {
        width: 10%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          width: 65px;
          height: 65px;
          background-color: #efefef;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            width: 50px;
            height: 50px;
          }
        }
      }

      .main {
        width: 88.5%;
        height: 552px;
        background-color: #efefef;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .main-img {
          width: 453px;
          height: 453px;
        }

        &__actions {
          display: flex;
          gap: 12px;
          position: absolute;
          top: 8px;
          right: 8px;

          img {
            cursor: pointer;
          }
        }
      }
    }

    .product-info {
      width: 17%;
      position: relative;
      padding-right: 20px;

      h1 {
        font-size: 50px;
        font-weight: 600;
        position: relative;
        display: inline;

        img {
          position: absolute;
          right: -24px;
          top: -8px;
        }
      }

      .product-size-amount {
        margin-top: 24px;

        ul {
          display: flex;
          gap: 8px;

          li {
            border: 1px solid #c2bdbd;
            padding: 10px;
            height: 36px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #c2bdbd;

            span {
              font-size: 14px;
              font-weight: 400;
            }
          }

          .active-size-amount {
            border: 1px solid #000;
            color: #000;
          }
        }

        .amount {
          margin-top: 16px;

          small {
            font-size: 10px;
            font-weight: 300;
          }

          .amount-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 12px;
            border: 1px solid #c2bdbd;
            height: 43px;
            margin-top: 8px;

            span {
              font-size: 15px;
              font-weight: 400;
              color: #a8a8a8;
              cursor: pointer;
              user-select: none;
            }

            .count {
              font-weight: bold;
              color: #000;
              cursor: none;
            }
          }
        }
      }

      .product-stars {
        margin-top: 24px;

        ul {
          display: flex;
          gap: 7px;
        }
      }

      .product-info-actions {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 24px;

        button {
          background-color: #232a38;
          color: #fff;
          height: 52px;
          font-size: 20px;
          font-weight: 300;
          cursor: pointer;
          border: 1px solid #232a38;
        }

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 14px;
            font-weight: 300;
          }

          span {
            width: 35%;
            height: 1.5px;
            background-color: #d2d2d2;
          }
        }
      }

      .product-shipping-info {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;

        img {
          cursor: pointer;
        }

        span {
          font-size: 12px;
          font-weight: 400;
          margin-left: 4px;
          padding-right: 20px;
          position: relative;

          .shipping-tooltip {
            display: none;
            position: absolute;
            left: -245px;
            bottom: -27px;
            width: 198px;
            height: 81px;
            background-color: #000000;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            padding: 16px;

            &::before {
              content: "";
              position: absolute;
              right: -10px;
              top: 35px;
              width: 11px;
              height: 11px;
              background-color: #000000;
              clip-path: polygon(0 0, 0% 100%, 100% 50%);
            }
          }

          .active {
            display: block;
          }
        }
      }
    }

    .product-taksit-table {
      width: 31%;

      .birbank-banner {
        background-color: #f5f5f5;
        padding: 10px 12px;
        height: 143px;
        display: flex;
        align-items: center;

        img {
          width: 84px;
          height: 119px;
        }

        div {
          margin-left: 32px;

          h1 {
            font-size: 18px;
            font-weight: 600;
          }

          p {
            font-size: 10px;
            font-weight: 400;
            color: #717171;
            margin-top: 12px;
          }
        }
      }

      .taksit-table {
        margin-top: 28px;

        .table-container {
          width: 100%;
          margin: 0 auto;
          border-collapse: collapse;

          th,
          td {
            padding: 12px;
            text-align: center;
            border: 1px solid #e0e0e0;
          }

          th {
            background-color: #f7f7f7;
            font-size: 14px;
            font-weight: 400;
          }

          td {
            background-color: #f0f0f0;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .table-container tr:nth-child(even) td {
          background-color: #fff;
        }

        .radio-cell {
          text-align: center;
        }

        .radio-cell input[type="radio"] {
          accent-color: black;
          /* Adjust color if needed */
        }

        button {
          width: 100%;
          height: 54px;
          background-color: #232a38;
          border: 1px solid #232a38;
          color: #fff;
          font-size: 20px;
          font-weight: 300;
          margin-top: 12px;
          cursor: pointer;
        }
      }
    }
  }

  .details-tab {
    margin-top: 74px;

    .tablinks {
      border-bottom: 1px solid #c2bdbd;
      display: flex;
      gap: 48px;

      button {
        background-color: transparent;
        border: none;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 7px;
        border-bottom: 5px solid transparent;
        cursor: pointer;

        span {
          color: #c2bdbd;
          margin-left: 7px;
        }
      }

      .active {
        border-bottom: 5px solid #000000;
      }
    }

    .tabcontents {
      margin-top: 40px;
      width: 60%;

      .content1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 600px;
        font-size: 18px;
        font-weight: 400;
        color: #5a5a5a;
        font-family: Roboto;
        line-height: 26.13px;
        text-align: left;
      }

      .content2 {
        flex-direction: column;
        font-family: Arial, sans-serif;

        h4 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        .ratings-container {
          display: flex;
          justify-content: space-between;
          gap: 2rem;

          .rating-summary {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            gap: 1rem;
            width: 200px;

            .average-rating {
              display: flex;
              flex-direction: row;
              align-items: baseline;
              gap: 8px;

              .rating-value {
                font-size: 2rem;
                font-weight: bold;
              }

              .stars {
                display: flex;
                gap: 4px;
              }
            }

            .write-review {
              background-color: #000;
              color: #fff;
              border: none;
              padding: 0.5rem 1rem;
              cursor: pointer;
              font-size: 1rem;
              margin-top: 1rem;
            }
          }

          .rating-distribution {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .rating-bar {
              display: flex;
              align-items: center;
              gap: 1rem;

              .progress-bar {
                flex-grow: 1;
                height: 8px;
                background-color: #e0e0e0;
                position: relative;
                margin-right: 1rem;

                .filled {
                  height: 100%;
                  background-color: #000;
                }
              }

              .stars-label {
                display: flex;
                gap: 4px;

                img {
                  width: 11.67px;
                  height: 11.09px;
                }
              }

              .rating-count {
                width: 2rem;
                text-align: center;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }

    .reviews-container {
      margin: 4% auto;

      // Dropdown Styles
      .dropdown-container {
        position: relative;
        width: 120px;
        font-family: Arial, sans-serif;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 2px;

          border-radius: 5px;
          cursor: pointer;
          z-index: 10;
          position: relative;

          h3 {
            margin: 0;
            font-size: 16px;
            color: $text-color;
            flex-grow: 1;
          }

          &-icon {
            @include flex-center;
            width: 15px;
            height: 15px;

            svg {
              @include transition(transform);
              font-size: 16px;
              color: darken($border-color, 30%);
            }

            &.active svg {
              transform: rotate(180deg);
            }
          }
        }

        .dropdown-options {
          position: absolute;
          top: 100%;
          left: 10;
          width: 200px;
          max-height: 0;
          overflow: hidden;
          background-color: white;
          border: 1px solid $border-color;

          border-radius: 0 0 5px 5px;
          box-shadow: $box-shadow;
          z-index: 5;
          position: absolute;
          @include transition(max-height, 0.3s);
          @include transition(opacity, 0.3s);
          opacity: 0;

          &.show {
            max-height: 500px;
            opacity: 1;
            overflow-y: auto;
          }

          .option {
            padding: 10px 15px;

            cursor: pointer;
            color: $text-color;
            @include transition(background-color, 0.2s);

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: $hover-background;
            }
          }
        }
      }

      hr {
        margin: 10px 0;
        border: none;
        border-top: 1px solid #ddd;
      }

      .review {
        margin: 20px 0;

        p {
          max-width: 775px;
          margin: 0 0 10px;
          line-height: 1.6;
        }

        .review-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-align: left;
          font-size: 14px;
          color: #555;
          max-width: 450px;
          gap: 16px;

          .stars {
            display: flex;
            gap: 4px;

            img {
              width: 11.67px;
              height: 11.09px;
            }
          }

          .name {
            font-weight: 700;
            font-size: 14px;
            line-height: 22.08px;
            font-family: "Roboto";
            color: #000000;
            width: 150px;
          }

          .date {
            font-weight: 400;
            font-size: 14px;
            line-height: 22.08px;
            font-family: "Roboto";
            color: #000000;
            width: 100px;
          }
        }
      }

      .load-more {
        display: block;
        width: 131px;
        height: 36px;
        background-color: #e6e6e6;
        border: 0.8px solid #000000;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        color: #000000;
      }
    }
  }

  .similar-products {
    margin-top: 56px;

    &__title {
      font-size: 30px;
      font-weight: 500;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-top: 30px;

      .product-item {
        @include productItem(19%);
      }
    }
  }
}

.pay-modal {
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 24px;
    border: 1px solid #888;
    width: 520px;
    height: 384px;

    .modal-header {
      height: 24px;
    }

    .modal-body {
      margin-top: 24px;

      h1 {
        font-size: 18px;
        font-weight: 400;
        color: #000;
      }

      input {
        width: 100%;
        height: 48px;
        border: 1px solid #c4c4c4;
        padding: 17px 12px;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        margin: 24px 0 16px;

        &::placeholder {
          color: #c4c4c4;
        }
      }

      button {
        height: 54px;
        background-color: #232a38;
        color: #fff;
        font-size: 20px;
        width: 100%;
        cursor: pointer;
        margin-top: 32px;
      }

      .alert {
        background-color: #007aff14;
        padding: 12px;
        display: flex;

        p {
          font-size: 14px;
          font-weight: 400;
          color: #007aff;
          margin-left: 12px;
          line-height: 18px;
        }

        img {
          align-self: flex-start;
        }
      }
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 24px;
    border: 1px solid #888;
    width: 520px;
    height: 384px;

    .modal-header {
      height: 24px;
    }

    .modal-body {
      margin-top: 24px;

      h1 {
        font-size: 18px;
        font-weight: 400;
        color: #000;
      }

      input {
        width: 100%;
        height: 48px;
        border: 1px solid #c4c4c4;
        padding: 17px 12px;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        margin: 24px 0 16px;

        &::placeholder {
          color: #c4c4c4;
        }
      }

      button {
        height: 54px;
        background-color: #232a38;
        color: #fff;
        font-size: 20px;
        width: 100%;
        cursor: pointer;
        margin-top: 32px;
      }

      .alert {
        background-color: #007aff14;
        padding: 12px;
        display: flex;

        p {
          font-size: 14px;
          font-weight: 400;
          color: #007aff;
          margin-left: 12px;
          line-height: 18px;
        }

        img {
          align-self: flex-start;
        }
      }
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

//GIVE A RATE MODAL FOR DESKTOP
.give-rate-modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  justify-content: center;
  align-items: center;
  display: none; //by default

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
  }

  .give-rate-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 519px;
    background-color: #fff;
    z-index: 9999999;

    // Modal Heading
    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 20px;

      h3 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
        text-align: left;
        color: #000000;
      }

      .modal-section__close {
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }

    // Modal Body
    &-body {
      display: flex;
      gap: 25px;
      padding: 20px;

      img {
        width: 215px;
        height: 261px;
        object-fit: cover;
        background-color: #efefef;
      }

      .product-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;

        .authors {
          display: flex;
          align-items: start;
          flex-direction: column;

          span {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
            text-align: left;
            color: #b4b4b4;
            margin-bottom: 8px;
          }

          h4 {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 23.44px;
            text-align: start;
            color: #000000;
          }
        }

        .rate {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;

          h3 {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.41px;
            text-align: center;
            color: #000000;
          }

          span {
            display: flex;
            gap: 5px;

            img {
              width: 15px;
              height: 15px;
              background-color: transparent;
            }
          }
        }
      }
    }

    // Modal Footer
    &-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 16px 20px;
      gap: 20px;

      button {
        padding: 10px 20px;
        background-color: #232a38;
        color: #fff;
        border: none;
        font-size: 15px;
        font-weight: 400;
        line-height: 17.58px;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }

      .disabled-btn {
        border: 1px solid #cdcdcd;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        color: #bfbfbf;
        line-height: 17.58px;
        text-align: center;
        background-color: #f5f5f5;
      }
    }
  }
}

.order-success-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 520px;
    max-width: 100%;
    height: 314px;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-header {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .close {
        color: #aaa;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #232a38;
        }

        &:focus {
          color: #232a38;
        }
      }
    }

    .modal-body {
      text-align: center;
      margin-top: 20px;
      font-family: "Roboto", sans-serif;

      h1 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 18.24px;
        text-align: center;
        color: #000000;
        margin-bottom: 16px;
      }

      h3 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 18.24px;
        text-align: center;
        color: #000000;
        margin-bottom: 24px;
      }

      img {
        width: 48px;
        max-width: 100px;
        height: 48px;
        height: auto;
        margin-bottom: 24px;
      }

      p {
        font-size: 14px;
        color: #333;
        line-height: 1.6;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.12px;
        text-align: center;

        span {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 700;
          line-height: 20.12px;
          text-align: center;
        }
      }
    }
  }
}

.review {
  display: flex;
  flex-direction: column;
}

.review-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-info .stars {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100px;
}

.review-info .stars img {
  margin-right: 2px;
}

.dropdown-container {
  width: 300px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.header h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.header-icon svg {
  width: 24px;
  height: 24px;
  fill: #666;
  transition: transform 0.3s ease;
}

.dropdown-options {
  padding: 12px 0;
}

.option {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #f5f5f5;
}

.option .check-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: #4caf50;
  display: none;
}

.option.selected .check-icon {
  display: inline;
}

@media screen and (max-width: 768px) {
  #product-details {
    display: none;
  }

  header {
    padding: 0 2%;
  }

  #mobile-layout {
    display: flex;
    margin-top: 0;

    .container {
      .details-page {
        // padding: 0px 2%;

        .similar-products {
          padding: 0px 0px 60% 0px;
        }

        .product-title {
          max-width: 343px;
          width: 100%;
        }

        .details-wrap {
          display: flex;
          flex-direction: column;
          align-items: start;

          .product-info {
            padding-right: 0px;
          }

          .product-image {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            .main {
              width: 100%;
              height: auto;

              .main-img {
                max-width: 100%;
                height: auto;
              }
            }

            .left {
              display: flex;
              flex-direction: row;
              width: 100%;
              overflow: hidden;
            }
          }

          .product-info {
            width: 100%;

            .product-size-amount ul {
              width: 100%;
            }
          }

          .product-taksit-table {
            width: 100%;
            margin-top: 15px;
          }

          .product-shipping-info {
            display: flex;
            align-items: center;
            margin-top: 15px;

            img {
              cursor: pointer;
            }

            span {
              font-size: 12px;
              font-weight: 400;
              margin-left: 4px;
              padding-right: 20px;
              position: relative;

              .shipping-tooltip {
                display: none;
                position: absolute;
                left: -245px;
                bottom: -27px;
                width: 198px;
                height: 81px;
                background-color: #000000;
                color: #fff;
                font-size: 14px;
                font-weight: 300;
                padding: 16px;

                &::before {
                  content: "";
                  position: absolute;
                  right: -10px;
                  top: 35px;
                  width: 11px;
                  height: 11px;
                  background-color: #000000;
                  clip-path: polygon(0 0, 0% 100%, 100% 50%);
                }
              }

              .active {
                display: block;
              }
            }
          }
        }

        .details-tab {
          margin-top: 15px;

          .accordion {
            overflow: hidden;

            .accordion-item {
              border-bottom: 1px solid #ddd;

              .accordion-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 5px;
                font-size: 1.25rem;
                font-weight: bold;
                text-align: left;
                width: 100%;
                border: none;
                outline: none;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                  background-color: #f0f0f0;
                }

                span {
                  flex-grow: 1;
                  font-family: Roboto;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 16.41px;
                  text-align: left;
                }

                img {
                  width: 9px;
                  height: 6px;
                  margin-left: 8px;
                }
              }

              .accordion-content {
                padding: 16px;
                display: none;
                animation: fadeIn 0.3s ease-in-out;

                p {
                  margin-bottom: 12px;
                  line-height: 1.5;
                }

                .ratings-container {
                  display: flex;
                  flex-direction: column;

                  .rating-summary {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 16px;

                    .average-rating {
                      display: flex;
                      align-items: center;
                      gap: 8px;

                      .stars {
                        display: flex;

                        img {
                          width: 20px;
                          height: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          // Fade-in animation
          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: translateY(-10px);
            }

            to {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }

        .product-info-actions {
          padding: 0% 16px;
          height: 157px;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: #fff;
          border-top: 1px solid #ddd;
          display: flex;
          gap: 20px;
          flex-direction: column;
          align-items: start;
          z-index: 2121213;

          .price-info {
            font-family: Poppins;
            font-size: 32px;
            font-weight: 600;
            line-height: 48px;
            text-align: left;
            display: flex;
            justify-content: start;
            color: #333;
            margin-top: 10px;
          }

          .buttons-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            button {
              background-color: #232a38;
              font-family: Roboto;
              font-size: 20px;
              font-weight: 300;
              line-height: 23.44px;
              text-align: center;
              color: #ffffff;
            }

            .add-to-cart {
              width: 286px;
              height: 45px;
            }

            .quick-order {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
  }

  .give-rate-modal-container {
    .give-rate-modal-body {
      display: flex;
      gap: 25px;
      padding: 20px;

      img {
        width: 156px;
        height: 156px;
        object-fit: cover;
        background-color: #efefef;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-details-footer {
    display: none !important;
  }
}