header {
  margin-top: 44px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  z-index: 4444;
  .header-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lang {
      display: flex;
      align-items: center;
      width: calc(100% / 3);
      span {
        color: $secondary_color;
        font-size: 15px;
        font-weight: 400;
        margin: 0 8px;
      }
    }
    .logo {
      width: calc(100% / 3);
      text-align: center;
    }
    .header-actions {
      width: calc(100% / 3);
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;
        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            color: #090909;
            font-size: 14px;
            font-weight: 400;
            margin-left: 8px;
          }
          &:nth-child(5) {
            display: none;
          }
          a {
            display: flex;
            align-items: center;
          }
        }
        .cabinet-link {
          a {
            background-color: #38b65b;
            padding: 4px 10px;
            height: 32px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            span {
              font-size: 14px;
              font-weight: 400;
              margin-left: 4px;
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}

footer {
  padding: 78px 0;
  border-top: 0.5px solid #b8b8b8;
  margin-top: 74px;
  .footer-all {
    display: flex;
    justify-content: space-between;
    .left {
      width: 30%;
      img {
        margin-bottom: 34px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #737373;
        margin-top: 10px;
      }
    }
    .links {
      width: 50%;
      display: flex;
      justify-content: space-between;
      gap: 100px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1;
        li {
          span {
            font-size: 14px;
            font-weight: 400;
            color: #737373;
          }
          &:nth-child(1) {
            margin-bottom: 30px;
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          li {
            span {
              display: block;
              line-height: 27px;
            }
          }
        }
        .footer-social {
          margin-top: 40px;
          display: flex;
          align-items: center;
          gap: 17px;
        }
      }
    }
    .right {
      width: 20%;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        li {
          width: 50px;
          height: 30px;
          img {
            width: 100%;
            object-fit: contain;
            height: 100%;
          }
        }
      }
    }
  }
}
