header{padding:58px 0 48px}
.header-all{display:grid;grid-template-columns:1fr auto 1fr;align-items:center}
.header-all .lang{justify-self:start}
.header-all .logo{justify-self:center}
.header-all .logo img{width:190px;height:auto}
.header-actions{justify-self:end}
.header-actions ul{display:flex;align-items:center;gap:30px}
.header-actions li,.header-actions a{display:flex;align-items:center;gap:10px}
.header-actions img{width:24px;height:24px;object-fit:contain;cursor:pointer}
.header-actions .menu-icon{display:none}
#languageSwitcher{border:1px solid #777;background:#fff;font-size:16px;padding:1px 3px}
@media(max-width:768px){header{padding:20px 0}.header-all{grid-template-columns:auto 1fr auto}.header-all .logo img{width:145px}.header-actions ul{gap:15px}.header-actions li:nth-child(2),.header-actions li:nth-child(3),.header-actions li:nth-child(4){display:none}.header-actions .menu-icon{display:flex}.header-actions img{width:22px;height:22px}}
