<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ParfumShop.az - онлайн заказ парфюмерии, мужские женские аро</title>
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <!-- Header section -->
  <header>
    <div class="container">
      <div class="header-all">
        <div class="lang">
          <img src="assets/images/aze.svg" alt="country image for translate" />
          <span>AZ</span>
          <img src="assets/images/arrow_down.svg" alt="" />
        </div>
        <div class="logo">
          <a href="index.html">
            <img src="assets/images/logo.svg" alt="parfumshop logo" />
          </a>
        </div>
        <div class="header-actions">
          <ul>
            <li>
              <img class="search-icon" src="assets/images/search.svg" alt="" />
            </li>
            <li>
              <img src="assets/images/cart.svg" alt="" />
            </li>
            <li>
              <a href="wishlist.html">
                <img src="assets/images/wishlist.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="login.html">
                <img src="assets/images/signin.svg" alt="" />
                <span>Giriş</span>
              </a>
            </li>
            <li class="menu-icon">
              <img src="assets/images/menu.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- Header section -->

  <main>
    <div class="container">
      <div class="cabinet">
        <div class="cabinet__aside">
          <div class="cabinet__aside__top">
            <ul>
              <li>
                <a href="">
                  <img src="assets/images/arrow-left.svg" alt="" />
                  <span>Geri qayıt</span>
                </a>
              </li>
              <li>
                <ul>
                  <li>
                    <a href="index.html">
                      <img src="assets/images/home.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <img src="assets/images/arrow-right.svg" alt="" />
                  </li>
                  <li>
                    <a href="basket.html">Səbət</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="cabinet__aside__nav">
            <h1>Salam, Rövşən Məmmədov</h1>
            <ul>
              <li>
                <a href="cabinet.html">Hesab məlumatları</a>
              </li>
              <li>
                <a href="personal-info.html">Şəxsi məlumatlar</a>
              </li>
              <li>
                <a href="">Sifarişlərimin tarixçəsi</a>
              </li>
              <li>
                <a href="wishlist.html">Bəyəndiyim ətirlər <span>24</span></a>
              </li>
              <li>
                <a href="comments.html">Rəylərim <span>7</span></a>
              </li>
            </ul>
            <a href="">
              <img src="assets/images/signin.svg" alt="" />
              <span>Hesabdan çıx</span>
            </a>
          </div>
        </div>
        <div class="basket-list">
          <!-- empty basket -->
          <div class="empty-basket">
            <div class="empty-basket-img">
              <img src="/assets/images/basket.svg" alt="" />
            </div>
            <div class="empty-basket-info">
              <h4>Səbətiniz Boşdur</h4>
              <span>Bəyəndiyiniz məhsulları səbətə əlavə <br />
                edərək alış-verişə başlaya bilərsiniz.</span>
            </div>
            <div class="empty-basket-button">
              <button>Ətir əlavə et</button>
            </div>
          </div>
          <div class="empty-right-part"></div>
          <!-- empty basket -->

          <div class="basket-list-wrap">
            <ul class="basket-list-wrap__elems">
              <li class="basket-list-wrap__elems__item">
                <div class="basket-item-image">
                  <img src="assets/images/products/parfum.png" alt="" />
                </div>
                <div class="basket-item-info">
                  <ul>
                    <li>My Burberry</li>
                    <li>Burberry</li>
                    <li>Kişi üçün | Eau De Parfum</li>
                  </ul>
                  <span>199.00 ₼</span>
                  <div class="basket-item-info__bottom">
                    <div class="basket-item-info__bottom__left">
                      <div class="basket-item-size">
                        <select name="" id="">
                          <option value="">100 ml</option>
                        </select>
                      </div>
                      <div class="basket-item-count">
                        <span>-</span>
                        <div>1</div>
                        <span>+</span>
                      </div>
                    </div>
                    <div class="basket-item-info__bottom__right">
                      <button>
                        <img src="assets/images/trash.svg" alt="" />
                        <span>Səbətdən sil</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li class="basket-list-wrap__elems__item">
                <div class="basket-item-image">
                  <img src="assets/images/products/parfum.png" alt="" />
                </div>
                <div class="basket-item-info">
                  <ul>
                    <li>My Burberry</li>
                    <li>Burberry</li>
                    <li>Kişi üçün | Eau De Parfum</li>
                  </ul>
                  <span>199.00 ₼</span>
                  <div class="basket-item-info__bottom">
                    <div class="basket-item-info__bottom__left">
                      <div class="basket-item-size">
                        <select name="" id="">
                          <option value="">100 ml</option>
                        </select>
                      </div>
                      <div class="basket-item-count">
                        <span>-</span>
                        <div>1</div>
                        <span>+</span>
                      </div>
                    </div>
                    <div class="basket-item-info__bottom__right">
                      <button>
                        <img src="assets/images/trash.svg" alt="" />
                        <span>Səbətdən sil</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li class="basket-list-wrap__elems__item">
                <div class="basket-item-image">
                  <img src="assets/images/products/parfum.png" alt="" />
                </div>
                <div class="basket-item-info">
                  <ul>
                    <li>My Burberry</li>
                    <li>Burberry</li>
                    <li>Kişi üçün | Eau De Parfum</li>
                  </ul>
                  <span>199.00 ₼</span>
                  <div class="basket-item-info__bottom">
                    <div class="basket-item-info__bottom__left">
                      <div class="basket-item-size">
                        <select name="" id="">
                          <option value="">100 ml</option>
                        </select>
                      </div>
                      <div class="basket-item-count">
                        <span>-</span>
                        <div>1</div>
                        <span>+</span>
                      </div>
                    </div>
                    <div class="basket-item-info__bottom__right">
                      <button>
                        <img src="assets/images/trash.svg" alt="" />
                        <span>Səbətdən sil</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="basket-summary">
            <div class="basket-summary__products">
              <ul>
                <li>
                  <p>Explorer Mont Blanc</p>
                  <span>200.00 ₼</span>
                </li>
                <li>
                  <p>Explorer Mont Blanc</p>
                  <span>200.00 ₼</span>
                </li>
                <li>
                  <p>Explorer Mont Blanc</p>
                  <span>200.00 ₼</span>
                </li>
              </ul>
            </div>
            <div class="basket-summary__total">
              <ul>
                <li>
                  <p>Umumi məbləğ:</p>
                  <span>449.00 ₼</span>
                </li>
                <li>
                  <p>Endirim məbləğ:</p>
                  <span>0.00 ₼</span>
                </li>
                <li>
                  <p class="last-price">Yekun məbləğ:</p>
                  <span class="last-price-number">449.00 ₼</span>
                </li>
              </ul>
            </div>
            <button>Sifarişi rəsmiləşdir</button>
          </div>

          <!--BASKET LIST FOR MOBILE  -->
          <div class="basket-list-mobile">
            <div class="basket-list-wrap-mobile">
              <ul class="basket-list-wrap__elems">
                <li class="basket-list-wrap__elems__item">
                  <div class="basket-item-image">
                    <img src="assets/images/products/parfum.png" alt="" class="brand-image" />
                    <div class="basket-item-info__bottom__right">
                      <button>
                        <img src="assets/images/trash.svg" alt="" />
                        <span>Səbətdən sil</span>
                      </button>
                    </div>
                  </div>
                  <div class="basket-item-info">
                    <ul>
                      <li>My Burberry</li>
                      <li>Burberry</li>
                      <li>Kişi üçün | Eau De Parfum</li>
                    </ul>
                    <span>199.00 ₼</span>
                    <div class="basket-item-info__bottom">
                      <div class="basket-item-info__bottom__left">
                        <div class="basket-item-size">
                          <select name="" id="">
                            <option value="">100 ml</option>
                          </select>
                        </div>
                        <div class="basket-item-count">
                          <span>-</span>
                          <div>1</div>
                          <span>+</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="basket-list-wrap__elems__item">
                  <div class="basket-item-image">
                    <img src="assets/images/products/parfum.png" alt="" class="brand-image" />
                    <div class="basket-item-info__bottom__right">
                      <button>
                        <img src="assets/images/trash.svg" alt="" />
                        <span>Səbətdən sil</span>
                      </button>
                    </div>
                  </div>
                  <div class="basket-item-info">
                    <ul>
                      <li>My Burberry</li>
                      <li>Burberry</li>
                      <li>Kişi üçün | Eau De Parfum</li>
                    </ul>
                    <span>199.00 ₼</span>
                    <div class="basket-item-info__bottom">
                      <div class="basket-item-info__bottom__left">
                        <div class="basket-item-size">
                          <select name="" id="">
                            <option value="">100 ml</option>
                          </select>
                        </div>
                        <div class="basket-item-count">
                          <span>-</span>
                          <div>1</div>
                          <span>+</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="basket-list-wrap__elems__item">
                  <div class="basket-item-image">
                    <img src="assets/images/products/parfum.png" alt="" class="brand-image" />
                    <div class="basket-item-info__bottom__right">
                      <button>
                        <img src="assets/images/trash.svg" alt="" />
                        <span>Səbətdən sil</span>
                      </button>
                    </div>
                  </div>
                  <div class="basket-item-info">
                    <ul>
                      <li>My Burberry</li>
                      <li>Burberry</li>
                      <li>Kişi üçün | Eau De Parfum</li>
                    </ul>
                    <span>199.00 ₼</span>
                    <div class="basket-item-info__bottom">
                      <div class="basket-item-info__bottom__left">
                        <div class="basket-item-size">
                          <select name="" id="">
                            <option value="">100 ml</option>
                          </select>
                        </div>
                        <div class="basket-item-count">
                          <span>-</span>
                          <div>1</div>
                          <span>+</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
      <div class="similar-products">
        <h1>Bənzər məhsullar</h1>
        <div class="similar-products__list">
          <div class="product-item">
            <div class="product-item__image">
              <div class="product-item__image__actions">
                <img src="assets/images/share.svg" alt="" />
                <img src="assets/images/product-card-wishlist.svg" alt="" />
              </div>
              <a href="product-details.html">
                <img class="product-main-image" src="assets/images/products/parfum.png" alt="product image" />
              </a>
            </div>
            <div class="product-item__info">
              <div class="title">
                <h1>My Burberry</h1>
                <span>Burberry</span>
                <span>Kişi üçün | Eau De Parfum</span>
                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
              </div>
              <div class="taksit">
                <ul class="months">
                  <li>3 ay</li>
                  <li class="active">6 ay</li>
                  <li>9 ay</li>
                </ul>
                <div class="taksit-price">
                  <p>12.5 AZN</p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item">
            <div class="product-item__image">
              <div class="product-item__image__actions">
                <img src="assets/images/share.svg" alt="" />
                <img src="assets/images/product-card-wishlist.svg" alt="" />
              </div>
              <a href="product-details.html">
                <img class="product-main-image" src="assets/images/products/parfum.png" alt="product image" />
              </a>
            </div>
            <div class="product-item__info">
              <div class="title">
                <h1>My Burberry</h1>
                <span>Burberry</span>
                <span>Kişi üçün | Eau De Parfum</span>
                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
              </div>
              <div class="taksit">
                <ul class="months">
                  <li>3 ay</li>
                  <li class="active">6 ay</li>
                  <li>9 ay</li>
                </ul>
                <div class="taksit-price">
                  <p>12.5 AZN</p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item">
            <div class="product-item__image">
              <div class="product-item__image__actions">
                <img src="assets/images/share.svg" alt="" />
                <img src="assets/images/product-card-wishlist.svg" alt="" />
              </div>
              <a href="product-details.html">
                <img class="product-main-image" src="assets/images/products/parfum.png" alt="product image" />
              </a>
            </div>
            <div class="product-item__info">
              <div class="title">
                <h1>My Burberry</h1>
                <span>Burberry</span>
                <span>Kişi üçün | Eau De Parfum</span>
                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
              </div>
              <div class="taksit">
                <ul class="months">
                  <li>3 ay</li>
                  <li class="active">6 ay</li>
                  <li>9 ay</li>
                </ul>
                <div class="taksit-price">
                  <p>12.5 AZN</p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item">
            <div class="product-item__image">
              <div class="product-item__image__actions">
                <img src="assets/images/share.svg" alt="" />
                <img src="assets/images/product-card-wishlist.svg" alt="" />
              </div>
              <a href="product-details.html">
                <img class="product-main-image" src="assets/images/products/parfum.png" alt="product image" />
              </a>
            </div>
            <div class="product-item__info">
              <div class="title">
                <h1>My Burberry</h1>
                <span>Burberry</span>
                <span>Kişi üçün | Eau De Parfum</span>
                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
              </div>
              <div class="taksit">
                <ul class="months">
                  <li>3 ay</li>
                  <li class="active">6 ay</li>
                  <li>9 ay</li>
                </ul>
                <div class="taksit-price">
                  <p>12.5 AZN</p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item">
            <div class="product-item__image">
              <div class="product-item__image__actions">
                <img src="assets/images/share.svg" alt="" />
                <img src="assets/images/product-card-wishlist.svg" alt="" />
              </div>
              <a href="product-details.html">
                <img class="product-main-image" src="assets/images/products/parfum.png" alt="product image" />
              </a>
            </div>
            <div class="product-item__info">
              <div class="title">
                <h1>My Burberry</h1>
                <span>Burberry</span>
                <span>Kişi üçün | Eau De Parfum</span>
                <span class="product-price">50 ml / <span>96.00 ₼ </span></span>
              </div>
              <div class="taksit">
                <ul class="months">
                  <li>3 ay</li>
                  <li class="active">6 ay</li>
                  <li>9 ay</li>
                </ul>
                <div class="taksit-price">
                  <p>12.5 AZN</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Search Form Header -->
  <div class="container">
    <div class="search-form">
      <div class="search-close">
        <img src="assets/images/close.svg" alt="" />
      </div>
      <div class="search-form__wrap">
        <form action="">
          <input type="text" placeholder="Axtarış" />
          <img src="assets/images/search.svg" alt="" />
        </form>
        <div class="prev-search">
          <span>Daha öncəki axtarışlarınız</span>
          <ul>
            <li>
              <a href="">
                <div class="img">
                  <img src="assets/images/products/parfum.png" alt="" />
                </div>
                <div class="content">
                  <div class="info">
                    <h1>Cartier La Panthere Edition Soir</h1>
                    <p>Kişi, Eau de Toilette</p>
                    <span>199.00 ₼ / <span>100 ml</span></span>
                  </div>
                  <div class="category">
                    <span>Qadın üçün</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="img">
                  <img src="assets/images/products/parfum.png" alt="" />
                </div>
                <div class="content">
                  <div class="info">
                    <h1>Cartier La Panthere Edition Soir</h1>
                    <p>Kişi, Eau de Toilette</p>
                    <span>199.00 ₼ / <span>100 ml</span></span>
                  </div>
                  <div class="category">
                    <span>Qadın üçün</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="img">
                  <img src="assets/images/products/parfum.png" alt="" />
                </div>
                <div class="content">
                  <div class="info">
                    <h1>Cartier La Panthere Edition Soir</h1>
                    <p>Kişi, Eau de Toilette</p>
                    <span>199.00 ₼ / <span>100 ml</span></span>
                  </div>
                  <div class="category">
                    <span>Qadın üçün</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Form Header -->

  <!-- Search Form for Mobile -->
  <div class="mobile-search-basket-page">
    <form>
      <input type="text" placeholder="Nə axtarırsan?" />
      <img src="assets/images/search.svg" alt="" />
    </form>
    <div class="mobile-search__filter">
      <img src="assets/images/filter.svg" alt="" />
    </div>
  </div>
  <!-- Search Form for Mobile -->

  <!-- Sidebar for Mobile -->
  <div class="mobile-sidebar">
    <img class="sidebar-close-icon" src="assets/images/close.svg" alt="" />
    <ul class="mobile-sidebar__nav">
      <li>
        <img src="assets/images/filter.svg" alt="filter icon" />
        <span>Filter</span>
      </li>
      <li>
        <img src="assets/images/brands.svg" alt="filter icon" />
        <span>Brendlər</span>
      </li>
      <li>
        <img src="assets/images/gift_card.svg" alt="filter icon" />
        <span>Hədiyyə kartı</span>
      </li>
      <li class="terms-link">
        <img src="assets/images/terms.svg" alt="filter icon" />
        <span>Qaydalar</span>
      </li>
      <li>
        <img src="assets/images/gift_card.svg" alt="filter icon" />
        <span>Xidmətlər və şərtlər</span>
      </li>
      <li class="terms-link">
        <img src="assets/images/wishlist.svg" alt="filter icon" />
        <span>Bəyəndiyim ətirlər</span>
      </li>
    </ul>
    <div class="invite-friend">
      <h1>Dostunu dəvət et və bonus qazan!</h1>
      <img src="assets/images/invite.png" alt="" />
      <button>Dəvət göndər</button>
    </div>
  </div>
  <!-- Sidebar for Mobile -->

  <!-- Footer section -->
  <footer>
    <div class="container">
      <div class="footer-all">
        <div class="left">
          <a href="">
            <img src="assets/images/logo.svg" alt="" />
          </a>
          <p>ParfumShop.az internet mağazası</p>
          <p>25 ilin təcrübəsi ilə xidmətinizdə olmaqdan qürur duyuruq!</p>
          <p>Həyatınızın ən ətirli səhifəsi...</p>
        </div>
        <div class="links">
          <ul>
            <li>
              <span>Kateqoriyalar</span>
            </li>
            <li>
              <span>Brendlər</span>
            </li>
            <li>
              <span>Qadın ətirləri</span>
            </li>
            <li>
              <span>Kişi ətirləri</span>
            </li>
            <li>
              <span>Unisex</span>
            </li>
            <li>
              <span>Hamam dəstləri</span>
            </li>
            <li>
              <span>Testerlər</span>
            </li>
            <li>
              <span>Hədiyyə kartı</span>
            </li>
            <li>
              <span>Daxili kredit</span>
            </li>
          </ul>
          <ul>
            <li>
              <span>Xidmət saatlarımız</span>
            </li>
            <li>
              <span>9:00 - 19:00. B.e. - Ş.</span>
              <span>Bazar istirahət günüdür.</span>
            </li>
            <li>
              <span>
                Sayt üzərindən edilən sifarişlər bütün sutka ərzində növbəyə
                alınır və iş saatı ərzində baxılır.
              </span>
            </li>
          </ul>
          <ul>
            <li>
              <span>Sualınız yaranıb?</span>
            </li>
            <li>
              <span>(055) 55 10 700</span>
              <span>(012) 310 22 55</span>
              <span>info@parfumshop.az</span>
            </li>
            <li class="footer-social">
              <a href="">
                <img src="assets/images/fb.svg" alt="" />
              </a>
              <a href="">
                <img src="assets/images/instagram.svg" alt="" />
              </a>
              <a href="">
                <img src="assets/images/telegram.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li>
              <img src="assets/images/cards/visa.png" alt="" />
            </li>
            <li>
              <img src="assets/images/cards/master.png" alt="" />
            </li>
            <li>
              <img src="assets/images/cards/m10.png" alt="" />
            </li>
            <li>
              <img src="assets/images/cards/birbank.png" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer section -->

  <script src="assets/js/common.js"></script>
  <script src="assets/js/personal.js"></script>
</body>

</html>