<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <script defer src="assets/js/common.js"></script>
</head>

<body>
  <!-- Header section -->
  <header>
    <div class="container">
      <div class="header-all">
        <div class="lang">
          <img src="assets/images/aze.svg" alt="country image for translate" />
          <span>AZ</span>
          <img src="assets/images/arrow_down.svg" alt />
        </div>
        <div class="logo">
          <a href="index.html">
            <img src="assets/images/logo.svg" alt="parfumshop logo" />
          </a>
        </div>
        <div class="header-actions">
          <ul>
            <li>
              <img class="search-icon" src="assets/images/search.svg" alt />
            </li>
            <li>
              <img src="assets/images/cart.svg" alt />
            </li>
            <li>
              <a href="wishlist.html"> <img src="assets/images/wishlist.svg" alt /></a>
            </li>
            <li>
              <a href="login.html">
                <img src="assets/images/signin.svg" alt />
                <span>Giriş</span>
              </a>
            </li>
            <li class="menu-icon">
              <img src="assets/images/menu.svg" alt />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- Header section -->
  <!-- Search Form Header -->
  <div class="container">
    <div class="search-form">
      <div class="search-close">
        <img src="assets/images/close.svg" alt />
      </div>
      <div class="search-form__wrap">
        <form action>
          <input type="text" placeholder="Axtarış" />
          <img src="assets/images/search.svg" alt />
        </form>
        <div class="prev-search">
          <span>Daha öncəki axtarışlarınız</span>
          <ul>
            <li>
              <a href>
                <div class="img">
                  <img src="assets/images/products/parfum.png" alt />
                </div>
                <div class="content">
                  <div class="info">
                    <h1>Cartier La Panthere Edition Soir</h1>
                    <p>Kişi, Eau de Toilette</p>
                    <span>199.00 ₼ / <span>100 ml</span></span>
                  </div>
                  <div class="category">
                    <span>Qadın üçün</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href>
                <div class="img">
                  <img src="assets/images/products/parfum.png" alt />
                </div>
                <div class="content">
                  <div class="info">
                    <h1>Cartier La Panthere Edition Soir</h1>
                    <p>Kişi, Eau de Toilette</p>
                    <span>199.00 ₼ / <span>100 ml</span></span>
                  </div>
                  <div class="category">
                    <span>Qadın üçün</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href>
                <div class="img">
                  <img src="assets/images/products/parfum.png" alt />
                </div>
                <div class="content">
                  <div class="info">
                    <h1>Cartier La Panthere Edition Soir</h1>
                    <p>Kişi, Eau de Toilette</p>
                    <span>199.00 ₼ / <span>100 ml</span></span>
                  </div>
                  <div class="category">
                    <span>Qadın üçün</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Form Header -->

  <!-- Sidebar for Mobile -->
  <div class="mobile-sidebar">
    <img class="sidebar-close-icon" src="assets/images/close.svg" alt />
    <ul class="mobile-sidebar__nav">
      <li>
        <img src="assets/images/filter.svg" alt="filter icon" />
        <span>Filter</span>
      </li>
      <li>
        <img src="assets/images/brands.svg" alt="brand icon" />
        <span>Brendlər</span>
      </li>
      <li>
        <img src="assets/images/gift_card.svg" alt="gift icon" />
        <span>Hədiyyə kartı</span>
      </li>
      <li class="terms-link">
        <img src="assets/images/terms.svg" alt="terms icon" />
        <span>Qaydalar</span>
      </li>
      <li>
        <img src="assets/images/gift_card.svg" alt="services icon" />
        <span>Xidmətlər və şərtlər</span>
      </li>
      <li class="terms-link">
        <img src="assets/images/wishlist.svg" alt="wishlist icon" />
        <span>Bəyəndiyim ətirlər</span>
      </li>
    </ul>
    <div class="invite-friend">
      <h1>Dostunu dəvət et və bonus qazan!</h1>
      <img src="assets/images/invite.png" alt />
      <button>Dəvət göndər</button>
    </div>
  </div>
  <!-- Sidebar for Mobile -->

  <!-- Whatsapp -->
  <div class="whatsapp">
    <a href="tel:0502656463">
      <img src="assets/images/wp.svg" alt />
    </a>
  </div>
  <!-- Whatsapp -->

  <div class="container">
    <!-- Breadcrumb -->
    <div class="breadcrumb-for-brands-page">
      <ul>
        <li>
          <a href="">
            <img src="assets/images/arrow-left.svg" alt="" />
            <span>Geri qayıt</span>
          </a>
        </li>
        <li>
          <ul>
            <li>
              <a href="index.html">
                <img src="assets/images/home.svg" alt="" />
              </a>
            </li>
            <li>
              <img src="assets/images/arrow-right.svg" class="arrow" alt="" />
            </li>
            <li>
              <a href="basket.html">Markalar</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="home-page">
      <div class="main-left">
        <div class="main-left__links">
          <ul>
            <li class="left-links-filter">
              <img src="assets/images/filter.svg" alt="filter icon" />
              <span>Filter</span>
            </li>
            <li class="left-links-brands">
              <img src="assets/images/brands.svg" alt="brand icon" />
              <span>Brendlər</span>
            </li>
            <li>
              <img src="assets/images/gift_card.svg" alt="gift icon" />
              <span>Hədiyyə kartı</span>
            </li>
            <li class="terms-link">
              <img src="assets/images/terms.svg" alt="terms icon" />
              <span>Qaydalar</span>
            </li>
          </ul>
          <div class="internal-credit-btn">
            <a href="internal-credit.html">Daxili kredit</a>
          </div>
        </div>
        <div class="best-seller">
          <h1>Ən çox satılanlar</h1>
          <ul>
            <li>
              <div class="img">
                <img src="assets/images/products/parfum.png" alt />
              </div>
              <span>Mont Blanc Explorer</span>
            </li>
            <li>
              <div class="img">
                <img src="assets/images/products/parfum.png" alt />
              </div>
              <span>Mont Blanc Explorer</span>
            </li>
            <li>
              <div class="img">
                <img src="assets/images/products/parfum.png" alt />
              </div>
              <span>Mont Blanc Explorer</span>
            </li>
            <li>
              <div class="img">
                <img src="assets/images/products/parfum.png" alt />
              </div>
              <span>Mont Blanc Explorer</span>
            </li>
            <li>
              <div class="img">
                <img src="assets/images/products/parfum.png" alt />
              </div>
              <span>Mont Blanc Explorer</span>
            </li>
            <li>
              <div class="img">
                <img src="assets/images/products/parfum.png" alt />
              </div>
              <span>Mont Blanc Explorer</span>
            </li>
          </ul>
        </div>
        <div class="invite-friend">
          <h1>Dostunu dəvər et və 17azn bonus qazan! Dəvət göndər</h1>
          <img src="assets/images/invite.png" alt />
          <button>Dəvət göndər</button>
        </div>
        <!-- Filter Form -->
        <div class="filter-section">
          <img class="filter-section__close" src="assets/images/filter-close.svg" alt />
          <div class="filter-section__price">
            <h4>Qiymət aralığı</h4>
            <div class="price-range">
              <div class="slider-container">
                <input type="range" id="min-range" min="40" max="2400" value="40" oninput="updateRangeValues()" />
                <input type="range" id="max-range" min="40" max="2400" value="2400" oninput="updateRangeValues()" />
              </div>
              <div class="range-values">
                <span id="min-value">40 AZN</span>
                <span id="max-value">2400 AZN</span>
              </div>
            </div>
          </div>
          <div class="filter-section__checkbox">
            <h4>Ətirin növü</h4>
            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Eau de Parfum
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Eau de Extrait
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Eau de Toilette
            </label>
            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Eau de Cologne
            </label>
            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Eau de Cologne
            </label>
            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Eau de Cologne
            </label>
          </div>
          <div class="filter-section__checkbox">
            <h4>Ətirin həcmi</h4>
            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              25-50 ml
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              50-100 ml
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              100-150 ml
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              150-200 ml
            </label>
          </div>
          <div class="filter-section__checkbox">
            <h4>Qoxu qrupu</h4>
            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Fujer
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Şipr
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Çiçək
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Dəri
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Şərq
            </label>

            <label class="custom-checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Ağac
            </label>
          </div>
        </div>
        <!-- Filter Form -->
      </div>
      <div class="main-right">
        <div class="brands-section">
          <div class="brands-list">
            <h2>A</h2>
            <ul>
              <li>Agent Provocateur</li>
              <li>Agonist</li>
              <li>Ajmal</li>
              <li>Al Haramain</li>
              <li>Alaia</li>
              <li>Alexandre J</li>
              <li>Amouage parfums</li>
              <li>Angel Schlesser</li>
              <li>Anna Sui</li>
              <li>Antonio Banderas</li>
              <li>Aramis</li>
              <li>Armand Basi</li>
              <li>Attar Collection</li>
              <li>Aubade</li>
              <li>Avon</li>
              <li>Azzaro</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>B</h2>
            <ul>
              <li>Balenciaga</li>
              <li>Bentley</li>
              <li>Beyonce</li>
              <li>BOND No9</li>
              <li>Bottega Veneta</li>
              <li>Brecourt</li>
              <li>Britney Spears</li>
              <li>Burberry</li>
              <li>BVLGARI</li>
              <li>Byredo</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>C</h2>
            <ul>
              <li>Cacharel</li>
              <li>Calvin Klein</li>
              <li>Carolina Herrera</li>
              <li>Cartier</li>
              <li>Chanel</li>
              <li>Chloe</li>
              <li>Chopard</li>
              <li>Christian Dior</li>
              <li>Clinique</li>
              <li>Clive Christian</li>
              <li>Comme des Garcons</li>
              <li>Cosmegram</li>
              <li>Costume National</li>
              <li>Creed</li>
              <li>Cuoaro The Circle</li>
              <li>Cupid</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>D</h2>
            <ul>
              <li>David Yurman</li>
              <li>Davidoff</li>
              <li>DKNY</li>
              <li>Dolce & Gabbana</li>
              <li>Dupont</li>
              <li>Dynasty of Monaco</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>E</h2>
            <ul>
              <li>Elie Saab</li>
              <li>Elizabeth Arden</li>
              <li>Ermenegildo Zegna</li>
              <li>Escada</li>
              <li>Estee Lauder</li>
              <li>Ex Nihilo</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>F</h2>
            <ul>
              <li>Fendi</li>
              <li>Ferrari</li>
              <li>Fly Falcon</li>
              <li>Franck Olivier</li>
              <li>Frederic Malle</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>G</h2>
            <ul>
              <li>Giorgio Armani</li>
              <li>Givenchy</li>
              <li>Gucci</li>
              <li>Guerlain</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>H</h2>
            <ul>
              <li>Hermes</li>
              <li>House of Sillage</li>
              <li>Hugo Boss</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>I</h2>
            <ul>
              <li>Initio</li>
              <li>Issey Miyake</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>J</h2>
            <ul>
              <li>Jean Antoine</li>
              <li>Jean Paul Gaultier</li>
              <li>Jennifer Lopez</li>
              <li>Jesus Del Pozo</li>
              <li>Jimmy Choo</li>
              <li>Jo Malone</li>
              <li>John Richmond</li>
              <li>John Varvatos</li>
              <li>Joop!</li>
              <li>Judith Leiber</li>
              <li>Juicy Couture</li>
              <li>Juliette Has a Gun</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>K</h2>
            <ul>
              <li>Kenzo</li>
              <li>Kilian</li>
              <li>Korloff Paris</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>L</h2>
            <ul>
              <li>Lacoste</li>
              <li>Lady Gaga</li>
              <li>Lalique</li>
              <li>Lancome</li>
              <li>Lanvin</li>
              <li>LM Parfums</li>
              <li>Loccitane</li>
              <li>Louis Vuitton</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>M</h2>
            <ul>
              <li>M. Micallef</li>
              <li>Mancera</li>
              <li>Marc Jacobs</li>
              <li>Marina De Bourbon</li>
              <li>Memo Paris</li>
              <li>Mercedes-Benz Perfume</li>
              <li>Michael Kors</li>
              <li>Miu Miu</li>
              <li>Molecule</li>
              <li>Mont Blanc</li>
              <li>Montale</li>
              <li>Moschino</li>
              <li>Museum</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>N</h2>
            <ul>
              <li>Narciso Rodriguez</li>
              <li>Nasomatto</li>
              <li>Nejma</li>
              <li>Nina Ricci</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>O</h2>
            <ul>
              <li>Orto Parisi</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>P</h2>
            <ul>
              <li>Paco Rabanne</li>
              <li>Pal Zileri</li>
              <li>Paloma Picasso</li>
              <li>Parfums de Marly</li>
              <li>Police</li>
              <li>Porsche Design</li>
              <li>Prada</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>R</h2>
            <ul>
              <li>Ralph Lauren</li>
              <li>Ramon Molvizar</li>
              <li>Robert Piguet</li>
              <li>Roberto Cavalli</li>
              <li>Roja Dove</li>
            </ul>
          </div>

          <div class="brands-list">
            <h2>S</h2>
            <ul>
              <li>Salvador Dali</li>
              <li>Salvatore Ferragamo</li>
              <li>Sarah Jessica Parker</li>
              <li>Sean John</li>
              <li>Sergio Tacchini</li>
              <li>Shaik</li>
              <li>Shiseido</li>
              <li>Signature</li>
              <li>Sisley</li>
              <li>SoOud</li>
              <li>Sospiro</li>
              <li>Stefano Ricci</li>
              <li>Stella McCartney</li>
              <li>Stephane Humbert Lucas 777</li>
              <li>Swarovski</li>
            </ul>
          </div>
        </div>

        <div class="home-bottom-banner">
          <div class="home-bottom-banner__wrap">
            <div class="banner-bt-left">
              <h1>Perfume Masculino</h1>
              <p>Xüsusi seçilmiş kişi ətirləri</p>
              <a href>Nəzər sal</a>
            </div>
            <div class="banner-bt-image">
              <img src="assets/images/products/parfum.png" alt />
            </div>
            <div class="banner-bt-right">
              <ul>
                <li>
                  <img src="assets/images/banner-brand-logo.svg" alt />
                </li>
                <li>
                  <img src="assets/images/banner-brand-logo.svg" alt />
                </li>
                <li>
                  <img src="assets/images/banner-brand-logo.svg" alt />
                </li>
                <li>
                  <img src="assets/images/banner-brand-logo.svg" alt />
                </li>
                <li>
                  <img src="assets/images/banner-brand-logo.svg" alt />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer section -->
  <div class="brand-footer-container">
    <div class="brand-footer-all">
      <div class="left">
        <a href>
          <img src="assets/images/logo.svg" alt />
        </a>
        <p>ParfumShop.az internet mağazası</p>
        <p>25 ilin təcrübəsi ilə xidmətinizdə olmaqdan qürur duyuruq!</p>
        <p>Həyatınızın ən ətirli səhifəsi...</p>
      </div>
      <div class="links">
        <ul>
          <li>
            <span>Kateqoriyalar</span>
          </li>
          <li>
            <span>Brendlər</span>
          </li>
          <li>
            <span>Qadın ətirləri</span>
          </li>
          <li>
            <span>Kişi ətirləri</span>
          </li>
          <li>
            <span>Unisex</span>
          </li>
          <li>
            <span>Hamam dəstləri</span>
          </li>
          <li>
            <span>Testerlər</span>
          </li>
          <li>
            <span>Hədiyyə kartı</span>
          </li>
          <li>
            <span>Daxili kredit</span>
          </li>
        </ul>
        <ul>
          <li>
            <span>Xidmət saatlarımız</span>
          </li>
          <li>
            <span>9:00 - 19:00. B.e. - Ş.</span>
            <span>Bazar istirahət günüdür.</span>
          </li>
          <li>
            <span>
              Sayt üzərindən edilən sifarişlər bütün sutka ərzində növbəyə
              alınır və iş saatı ərzində baxılır.
            </span>
          </li>
        </ul>
        <ul>
          <li>
            <span>Sualınız yaranıb?</span>
          </li>
          <li>
            <span>(055) 55 10 700</span>
            <span>(012) 310 22 55</span>
            <span>info@parfumshop.az</span>
          </li>
          <li class="brand-footer-social">
            <a href>
              <img src="assets/images/fb.svg" alt />
            </a>
            <a href>
              <img src="assets/images/instagram.svg" alt />
            </a>
            <a href>
              <img src="assets/images/telegram.svg" alt />
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li>
            <img src="assets/images/cards/visa.png" alt />
          </li>
          <li>
            <img src="assets/images/cards/master.png" alt />
          </li>
          <li>
            <img src="assets/images/cards/m10.png" alt />
          </li>
          <li>
            <img src="assets/images/cards/birbank.png" alt />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer section -->
</body>

</html>